# py -m venv venv
# py -m pip install -r requirements.txt
# pip uninstall opencv-contrib-python

fastapi==0.70.0
uvicorn==0.15.0
fastapi-chameleon==0.1.12
aiofiles
aiosqlite>=0.17.0
python-multipart
sqlalchemy==1.4.27
progressbar2
python-dateutil
passlib
# dependency_injector 

